/* ==========BASIC UNIVERSAL STYLING & CLEAN UP============= */
    /* some basic css resetting */
body { margin: 0; box-sizing: border-box; }
a { text-decoration: none; color:black; }

/* ==========Typography============= */
h2 {
    font-size: 30px;
    text-align: center;
    color: #71c7be;
    font-family: Arial, Helvetica, sans-serif;  
}

p {
    font-family: Arial, Helvetica, sans-serif;
}
/* ==========HEADER============= */

/* ==========NAVIGATION ============= */
.cover-bar{
    position: relative;
}

}
.navcontainer {
    position: absolute;
    width: auto;
}

.topnav {
    overflow: hidden;
    background-color: #ffffff;
}

.topnav a {
    float: left;
    color: #71c7be;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

.topnav a:hover {
    background-color: #71c7be;
    color:white;
}

.loveheart{
    position: absolute;
    top: -10px;   /*negative raises it higher*/
    right: 16px;  /*position to the right of the screen*/
}

/* ==========SECTION 1 STYLING javascript code sourced from - Buljan, Roco. 2016. "Pure CSS Slideshow Gallery." 
Code Pen. https://codepen.io/rokobuljan/pen/XXzqKQ?editors=1100============= */
.CSSgal {
	position: relative;
	overflow: hidden;
	height: 100%; /* Or set a fixed height */
}

/* SLIDER */

.CSSgal .slider {
	height: 50%;
	white-space: nowrap;
	font-size: 0;
	transition: 0.8s;
}

/* SLIDES */

.CSSgal .slider > * {
	font-size: 1rem;
	display: inline-block;
	white-space: normal;
	vertical-align: top;
	height: 100%;
	width: 100%;
	background: none 50% no-repeat;
	background-size: cover;
}

/* PREV/NEXT, CONTAINERS & ANCHORS */

.CSSgal .prevNext {
	position: absolute;
	z-index: 1;
	top: 50%;
	width: 100%;
	height: 0;
}

.CSSgal .prevNext > div + div {
	visibility: hidden; /* Hide all but first P/N container */
}

.CSSgal .prevNext a {
	background: #71c7be;
	position: absolute;
	width: 30px;
	height: 30px;
	line-height: 30px; /* If you want to place numbers */
	text-align: center;
	opacity: 0.7;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0;
}
.CSSgal .prevNext a:hover {
	opacity: 1;
}
.CSSgal .prevNext a + a {
	left: auto;
	right: 0;
}

/* NAVIGATION */

/*section 1*/

.bullets{
    text-align: center;
}
.CSSgal .bullets {
	position: absolute;
	z-index: 2;
	bottom: 0;
	padding: 10px 0;
	width: 100%;
	text-align: center;
}
.CSSgal .bullets > a {
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-decoration: none;
	text-align: center;
	background: rgba(255, 255, 255, 1);
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.CSSgal .bullets > a + a {
	background: rgba(255, 255, 255, 0.5); /* Dim all but first */
}
.CSSgal .bullets > a:hover {
	background: rgba(255, 255, 255, 0.7) !important;
}

/* PREV/NEXT CONTAINERS VISIBILITY */
/* ALL: */
.CSSgal > s:target ~ .prevNext > * {
	visibility: hidden;
}
/* ACTIVE: */
#s1:target ~ .prevNext > *:nth-child(1) {
	visibility: visible;
}
#s2:target ~ .prevNext > *:nth-child(2) {
	visibility: visible;
}
#s3:target ~ .prevNext > *:nth-child(3) {
	visibility: visible;
}

/* SLIDER ANIMATION POSITIONS */

#s1:target ~ .slider {
	transform: translateX(0%);
	-webkit-transform: translateX(0%);
}
#s2:target ~ .slider {
	transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
}
#s3:target ~ .slider {
	transform: translateX(-200%);
	-webkit-transform: translateX(-200%);
}

/* More slides? Add here more rules */
.CSSgal {
	color: #fff;
	text-align: center;
}
.CSSgal .slider h2 {
	margin-top: 40vh;
	font-weight: 200;
	letter-spacing: -0.06em;
	word-spacing: 0.2em;
	font-size: 3em;
}
.CSSgal a {
	border-radius: 50%;
	margin: 0 3px;
	color: rgba(0, 0, 0, 0.8);
	text-decoration: none;
}

/* ==========SECTION 2/3 STYLING============= */
/*flex layout*/
.container-flex{   
    display:flex; 
    flex-wrap:wrap;
}

.container-flex div {
    width:50%;
}

#left img {  
    height:100%;
    object-fit: cover;
}

#right {
    background-color:#71c7be;
}

#right h2{
    padding: 0 10px;
    margin-top: 100px;
    color:  white;
    text-align: center;
}

#right p {
    padding: 0 10px;
    margin-top: 50px;
    color:  white;
    text-align: center;
}

/* ==========Section 4============= */
.container-flex2{ 
    display:flex; 
    flex-wrap:wrap;
}

.container-flex2 div {
    width:50%;
}

#food h2{
    color:  rgb(255, 255, 255);
    text-align: center;
    padding: 0 10px;
}

.Acai{
    position: absolute;
    top: 82%;
    left: 75%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-align: center;
}


/* ==========FOOTER STYLIING============= */
div.container-footer { 
    display:flex; 
    flex-wrap:wrap;
    background-color:#71c7be;
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    color: #ffffff;
}

/* ==========RESPONSIVE DESIGN============= */

/* ===== 5K RETINA MAC LABS: Media queries for Curtin Uni mac lab testing only ===== */
@media only screen and (max-width: 5120px) {
    .container-flex {  
        position: static;
        width: 100%;
    }

    .container-flex2{
    position: static;
    width: 100%;
}
    .google{
        width: 100%;
    }    
}

/* ===== DESKTOP HD: Media queries for most HD desktops ===== */
@media only screen and (max-width: 1920px) {
    .container-flex {  
        position: static;
        width: 100%;
    }

    .container-flex2{
    position: static;
    width: 100%;
}
.google{
    width: 100%;
}    
    
}

/* ===== SMALL DESKTOP: Media queries for laptop/small desktop ===== */
@media only screen and (max-width: 1366px) { 
    .container-flex {  
        position: static;
        width: 100%;
    }

    .container-flex2{
    position: static;
    width: 100%;
}
.google{
    width: 100%;
}     
    
}

/* ===== TABLET: Media queries for verticle and horizontal ===== */
@media only screen and (max-width: 1024px) { 
    .container-flex {  
        position: static;
        width: 100%;
    }

    .container-flex2{
    position: static;
    width: 100%;
}
.google{
    width: 100%;
}    
    
}

@media only screen and (max-width: 768px) { 

    .container-flex {  
        position: static;
        width: 100%;
    }

    .container-flex2{
    position: static;
    width: 100%;
}
.google{
    width: 100%;
}    

}
/* ===== MOBILE: Media queries for small mobile resolution. ===== */
@media only screen and (max-width: 640px) { 
    .container-flex {  
        position: static;
        width: 100%;
    }

    .container-flex2{
    position: static;
    width: 100%;
}
    
.google{
    width: 100%;
}         
}


@media only screen and (max-width: 360px) { 
    .container-flex {  
        position: static;
        width: 100%;
    }

    .container-flex2{
    position: static;
    width: 100%;
}
.google{
    width: 100%;
}           
        
}

